
* {
    margin: 0;
    padding: 0;
}

/* body {
    cursor: url(../img/imagem-cursor.cur), default;
} */

body::-webkit-scrollbar {
    width: 10px;
    background-color: #969696;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #445964;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #33424b;
}

#particles-js {
    background: #031828;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
}

.container-one {
    width: 100%;
    height: 100vh;
}

.title {
    font-weight: 600;
    font-size: max(40px, 6vw);
    text-shadow: 0px 0px 15px #445964;
}

.subtitle {
    font-size: max(14px, 1.40vw);
}

.text-shadow {
    text-shadow: 0px 0px 15px #445964;
}

.span-color {
    color: #445964;
}

.btn-inicio {
    width: 195px;
    border-radius: 20px !important;
    box-shadow: 0px 0px 15px #445964;
    background-color: #445964 !important;
    color: #fff !important;
}

.btn-inicio:hover {
    background-color: #487D99 !important;
}

.card-portifolio {
    border-radius: 15px;
    width: 200px;
    height: 200px;
    background-color: #445964;
}

.text-potifolio {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.body-portifolio {
    margin: 30px 9rem;
}

.box-img {
    margin: 20px 0;
}

.br {
    display: none;
}

#container-tech {
    padding: 5rem 0rem;
}

#content-tech {
    text-align: center;
}

#content-tech > p {
    display: inline-block;
    font-size: 4.5rem;
    margin-right: 20px;
    color: #ffffff;
}

/* #sobre {
    padding: 4rem 0rem;
} */

#bio {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

.img-bio {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
    object-fit: cover; 
    box-shadow: 0px 0px 15px #445964;
    background-image: url(../img/imagem-bio.jpeg);
}

.capa {
    height: 100px;
    border-radius: 50%;
    background-color: #33424b6e;
}

.content-bio-icon > a {
    margin-top: 10px;
    padding-right: 10px;
    font-size: 2rem;
    color: #ffffff;
}

.content-bio-icon > a:hover {
    color: #487D99;
}

@media (max-width: 580px) {
    .body-portifolio {
        margin: 30px 2rem;
    }

    .btn-filter {
        margin-bottom: 15px;
    }

    .br {
        display: flex;
    }
    
    
} 